@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --pry-blue: rgb(6, 149, 245);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

.logo {
  width: 150px;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.hero_c {
  padding-top: 100px;
}

.hero,
.feature_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.hero_words,
.hero_img,
.feature_words,
.feature_img {
  flex-basis: 50%;
}

.hero_words h1 {
  font-size: 4rem;
}

.hero_words h1 span {
  color: var(--pry-blue);
}

.hero_words p {
  margin: 20px 0;
}

.btn_wrapper {
  display: flex;
  gap: 16px;
}

.btn_about,
.feature_words button,
.cta_box button {
  padding: 17px 45px;
  color: #fff;
  background-color: var(--pry-blue);
  border-radius: 4px;
}
.btn_partner {
  padding: 17px 45px;
  color: var(--pry-blue);
  background-color: #fff;
  border: 1px solid var(--pry-blue);
  border-radius: 4px;
  transition: 0.2s background-color;
}
.btn_partner:hover {
  background-color: var(--pry-blue);
  color: #fff;
}

.find_us {
  padding: 60px 0;
}

.find_us p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 36px;
}

.images {
  max-width: 1200px;
  margin: 0 auto;
}

.img_container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.ball {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgb(6, 149, 245), white);
  margin: 30px 0;
}

.features {
  padding: 60px 0;
}

.feature_header {
  text-align: center;
}

.feature_header .title {
  color: var(--pry-blue);
  /* margin-bottom: 12px; */
}

.feature_header h1 {
  font-weight: bold;
  font-size: 3rem;
}

.desc {
  color: #333;
  margin-bottom: 36px;
}

.feature_words h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.feature_words h2 span {
  color: var(--pry-blue);
}

.feature_words p {
  margin-bottom: 20px;
}

.ball1 {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(6, 149, 245), white);
  margin-left: 85%;
}

.ball2 {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgb(6, 149, 245), white);
  margin-left: 75%;
}

.about {
  padding: 60px 0;
}

.about h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.about h1 span {
  color: var(--pry-blue);
}

.about_wrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.about_img {
  flex-basis: 30%;
}

.about_words {
  flex-basis: 60%;
}

.about_words p {
  margin-bottom: 28px;
}

.img_section {
  padding: 60px 0;
}

.img_section .images {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  flex-wrap: wrap;
}

.img_section .img_box {
  flex-basis: 23%;
}
.contact {
  padding: 60px 0;
}

.contact_header {
  text-align: center;
  margin-bottom: 32px;
}

.contact_header h1 {
  font-size: 3rem;
}

.contact_header h1 span {
  color: var(--pry-blue);
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
  max-width: 1200px;
  margin: 0 auto;
}

.contact_card {
  background-color: var(--pry-blue);
  padding: 20px 30px;
  border-radius: 16px;
  color: #fff;
  flex-basis: 32%;
  text-align: center;
  cursor: pointer;
}

.contact_card i {
  margin-bottom: 24px;
  font-size: 24px;
}

.contact_card h3 {
  margin-bottom: 16px;
}

.contact_card:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.cta {
  padding: 60px 0;
}

.cta_header {
  text-align: center;
}

.cta_header h3 {
  color: var(--pry-blue);
  /* margin-bottom: 20px; */
}

.cta_header h1 {
  font-size: 3rem;
}

.cta_header h1 span {
  color: var(--pry-blue);
}

.cta_box {
  max-width: 960px;
  background-image: linear-gradient(
    to right,
    rgb(6, 149, 245),
    rgb(126, 115, 109)
  );
  padding: 50px 70px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  margin-top: 28px;
  color: #fff;
}

.cta_box h1 {
  font-size: 2.5rem;
}

.cta_box p {
  margin: 16px 0;
}

.cta_box button {
  margin-top: 16px;
}

footer {
  background-color: var(--pry-blue);
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #f0f0f0;
}

.footer-socials a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #f0f0f0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
  padding-top: 12px;
  border-top: 1px solid #e6e2e2;
}

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: none;
  }

  nav ul.active {
    display: flex;
    transform: translateY(0);
  }

  .hamburger {
    display: block;
  }

  .hero_c {
    padding-top: 130px;
  }
  .hero,
  .feature_wrapper,
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .hero_words h1 {
    font-size: 2.5rem;
  }

  .feature_words h2 {
    font-size: 1.5rem;
  }

  .about_wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .img_section .img_box {
    flex-basis: 45%;
  }

  .contact_wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .cta_box {
    padding: 30px;
  }

  .cta_box h1 {
    font-size: 2rem;
  }
}
